:root {
    --textColor: white;
    --bgColor: #00010F;
    --accentColor: #64E8B0;
    --darkerBg: rgb(0, 0, 5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--textColor);

}

h1,
h2,
h3,
h4,
p {
    cursor: default;
}

h3 {
    pointer-events: none;
}

body {
    background: var(--bgColor);
}

html {
    scroll-behavior: smooth;
}

img {
    opacity: 0;
    transition: opacity .3s ease-out;
}

h3::selection,
p::selection {
    background: var(--accentColor);
    color: white;
}

.register-btn {
    position: fixed;
    bottom: 50px;

    right: 50px;
    z-index: 100;
    background: var(--accentColor);
    padding: 25px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .2s ease-out;
    box-shadow: 0 0 20px 0px black;
}

.register-btn>h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 600;
    text-decoration: none;
    line-height: 10px;
    margin-top: 4px;
    text-align: center;
}


.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.img1,
.img2 {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: var(--darkerBg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-cover-text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}


.intro-logo-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img1 {
    bottom: 0;
    left: 0;
    width: 50vw;
}

.img2 {
    top: 0;
    right: 0;
    width: 50vw;
    z-index: -10;
}

.landing-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text h1,
.landing-text h3 {
    text-transform: uppercase;
}

#cia-title {
    font-size: 5rem;
    color: #64E8B0;
}

#hackathon {
    font-size: 4rem;
}

.fade {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding-bottom: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, rgb(0, 0, 5));
}

.fade span {
    position: relative;
    font-weight: bold;
    text-shadow: 0px 0px 30px black;
    cursor: pointer;
}

.fade .down-arrow {
    position: relative;
    margin-top: 5px;
    filter: invert();

    width: 25px;
    height: 25px;
    animation: bounce 1s infinite;

}

.fade>span>a {
    text-decoration: none;
    pointer-events: none;
}

.landing-shade,
.scroll-shade {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));

}

@keyframes bounce {

    100%,
    0% {
        top: 10px;
    }

    50% {
        top: 0px;
    }
}



/* ABOUT */
.about {
    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 5);
}

.about>h1 {
    color: var(--accentColor);
    margin-bottom: 5px;
}

.about>p {
    text-align: center;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: calc(1.2*1.2rem);
    color: rgba(255, 255, 255, 0.7);
}

/* CIA 2019 */
.cia19 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
    background: var(--darkerBg);

}

.cia19 h1 {
    padding-left: 40px;
    color: var(--accentColor);

}

.photos-old {
    margin-top: 20px;
    overflow: hidden; 
    white-space: nowrap;

}

.img {
    display: inline-block;
    width: 100%;
    height: 80vh;
}

.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.i1>img {
    object-fit: contain;
}

/* FAQSECTION */
.faq {
    height: auto;
    background-color: rgb(0, 0, 5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 50px;
}

.questions h1 {
    color: var(--accentColor);
}

.questions {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    margin-top: 10px;
    line-height: 25px;
    width: 80%;
}

.question h3,
.question p {
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SCHEDULE */
.schedule {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;
    padding: 30px;
    position: relative;
}

.schedule-title {
    width: 100%;
    height: 50px;
}

.schedule-section {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px 10px 0px 10px;

    display: flex;
}

.schedule-section>h3 {
    color: var(--accentColor);
    font-size: 1.5rem;
}

.day2-section {
    display: none;
}

.day1-section {
    /* display: none; */
}

.day-section {
    width: 100%;
}

.day {

    height: auto;
    overflow: auto;
    /* white-space: nowrap; */

    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-bottom: 15px;

    background: rgb(20, 20, 25);
    border-radius: 15px;
    padding-left: 15px;
    padding-bottom: 15px;

}

.tabs {
    /* top: 80vh; */
    bottom: 40px;
    z-index: 50;
    position: sticky;
    display: flex;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-right: 10px;

    transition: opacity .2s ease-out;
}


.tabs>h2 {
    color: rgb(117, 116, 126);
    background: rgb(59, 59, 59);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;

    box-shadow: 0 0 20px 0px black;
}

.tabs>.selected-tab {
    color: black;
    background: var(--accentColor);
    transition: all .1s ease-out;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 10px;

}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1); */
    background: rgb(15, 15, 20);
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    background: rgb(86, 207, 157);
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}

.schedule-section>h3 :nth-child(1) {
    font-weight: 400;
}

.schedule-section>h3 :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

/* .day :nth-child(1) {
    padding-left: 0;
} */

/* .day :last-child {
    padding-right: 20px;
}
 */
.schedule-card {
    margin-top: 20px;
    display: inline-block;
    width: auto;
    height: 100%;

    padding: 0px 20px 0px 20px;

}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-content::after {
    content: "";
    position: absolute;
    background: var(--accentColor);
    top: 8px;
    height: 60px;
    width: 2px;
}

.card-content p {
    word-break: normal;
    white-space: normal;
    width: 400px;
}

.card-content h3,
.card-content p {
    margin: 10px 0 10px 10px;
}

.card-content :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

.card-content :nth-child(3) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.card-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* TRACKS */
.tracks {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;

    position: relative;
    /* background: orange; */

}

.track-title {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.track-section {
    position: relative;
    height: auto;
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    background: rgb(15, 15, 15);

}



.track-card {
    margin: 20px;
    width: auto;
    height: 100%;
    padding-right: 20px;
    /* padding: 0px 20px 0px 20px; */
}

.track-content>h1 {
    position: sticky;
    bottom: 10px;
}

.track-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}


.track-content p {
    word-break: normal;
    white-space: normal;
    width: 400px;
}

.track-content h1,
.track-content p {
    margin: 5px 0 0px 0px;
}

.track-content :nth-child(1) {
    font-weight: 600;
    color: var(--accentColor);
}

.track-content :nth-child(2) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.track-content h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.track-scroll-shade {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* SPONSORS */
.sponsor-section {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darkerBg);

}

.sponsor-section>h1 {
    color: var(--accentColor);
}

.mlh-logo {
    margin-top: 30px;
    width: 200px;
}

.mlh-logo>img {
    width: 100%;
}

footer {

    width: 100%;
    height: auto;
    padding: 50px;

    background: rgb(15, 15, 20);

    display: flex;
    align-items: stretch;
}

.contact-section {
    height: 200px;
    margin-bottom: 20px;
}

.contact-section>h3 {
    padding-bottom: 10px;
    font-size: x-large;
}

.contact-section>p,
.links p {
    line-height: 22px;
}

.contact-section a {
    color: var(--accentColor);
}

.links {
    padding-left: 50px;
    margin-bottom: 20px;
}

.links>h3 {
    color: rgb(146, 146, 146);
    padding-bottom: 15px;
}

.links a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    pointer-events: none;
}

.links p:hover a {
    text-decoration: underline;
}

.links>p {
    cursor: pointer;
    padding-bottom: 3px;
}

.logo {

    margin-left: auto;
}

.logo-img {
    width: 100%;
    height: 50%;


}

.logo-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;

}

/* MOBILE */
@media only screen and (max-width: 650px) {

    .schedule {
        position: relative;
        padding: 0px;
    }

    .day-section>h3 {
        text-align: center;
    }

    .schedule-title {
        text-align: center;
    }

    .tabs {
        justify-content: center;
        bottom: 80px;

    }

    .day {
        padding-bottom: 15px;
    }

    .schedule-card {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .card-content>p {
        width: 100%;
    }

    .register-btn {
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
    }

    footer {
        margin-bottom: 60px;
    }

    .links,
    .logo {
        display: none;
    }

    .track-title h1,
    .questions>.faq-title,
    .cia19>h1 {
        text-align: center;
    }

    .track-content p {
        word-break: normal;
        white-space: normal;
        width: 300px;
        line-height: 1.5rem;
    }

    .track-section :last-child {
        padding-right: 20px;
    }

    .track-scroll-shade {
        position: absolute;
        width: 20%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(to right, transparent, rgba(0, 0, 5, .7), rgb(0, 0, 5));
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    .landing-text {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landing-text h1,
    .landing-text h3 {
        margin-left: 20px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    #cia-title {
        font-size: 3rem;
        color: #64E8B0;
    }

    #hackathon {
        font-size: 3rem;
    }

    .img1 {
        width: 90vw;
    }

    .img2 {
        width: 80vw;
    }

    .faq {
        height: auto;
        background-color: rgb(0, 0, 5);
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .questions h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .about {
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    .about p {
        line-height: 25px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 400px) {
    .faq {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .tabs {
        top: 75vh;

    }
}